<IfModule mod_rewrite.c>
    RewriteEngine On

    # Arahkan semua request yang bukan file atau direktori ke index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
